.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* background image */
/* Default background style */
.app-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Background styles for specific routes */
.background-business {
  background-image: url('./Components/business.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}

.background-entertainment {
  background-image: url('./Components/entertainment.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}

.background-general {
  background-image: url('./Components/general.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}

.background-health {
  background-image: url('./Components/Health.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}

.background-science {
  background-image: url('./Components/science.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}

.background-sports {
  background-image: url('./Components/cricket.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}

.background-technology {
  background-image: url('./Components/technology.jpg');
  background-size: cover; /* Ensures the background covers the entire area */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-attachment: fixed; /* Fixes the background in place */
  background-position: center; /* Centers the background image */
}
